name: Scan Image

on:
  push:
    branches:
      - main
  repository_dispatch:
    types: [build-completed]
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  scan:
    runs-on: ubuntu-latest
    permissions:
      attestations: write
      contents: write
      id-token: write
      packages: read
      security-events: write

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4.1.7
        with:
          fetch-depth: 1

      - name: TruffleHog OSS
        uses: trufflesecurity/trufflehog@v3.82.5

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pull Docker Image
        run: docker pull ghcr.io/drengskapur/pptx2video:latest

      - name: Create SBOM
        uses: anchore/sbom-action@v0.17.2
        with:
          format: spdx-json
          output-file: "${{ github.event.repository.name }}-sbom.spdx.json"

      - name: Scan SBOM
        uses: anchore/scan-action@v3
        with:
          sbom: "${{ github.event.repository.name }}-sbom.spdx.json"
          fail-build: false

      - name: Aqua Security Trivy Scan
        uses: aquasecurity/trivy-action@0.24.0
        with:
          image-ref: ghcr.io/drengskapur/pptx2video:latest
          format: sarif
          output: trivy-results.sarif

      - name: Upload Trivy SARIF Report
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: trivy-results.sarif

      - name: Anchore Container Scan
        id: scan
        uses: anchore/scan-action@v4
        with:
          image: ghcr.io/drengskapur/pptx2video:latest
          output-format: sarif
          fail-build: false

      - name: Upload Anchore SARIF Report
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: ${{ steps.scan.outputs.sarif }}


      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: results.sarif
