name: Scan Image

on:
  workflow_dispatch:
  repository_dispatch:
    types: [build-completed]
    branches:
      - main
    paths:
      - Dockerfile

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  scan:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: write
      id-token: write
      attestations: write

    steps:
      - name: Checkout Repository
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          fetch-depth: 1

      - name: Login to GitHub Container Registry
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3.3.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Aqua Security Trivy
        uses: aquasecurity/trivy-action@6e7b7d1fd3e4fef0c5fa8cce1229c54b2c9bd0d8 # 0.24.0
        with:
          image-ref: ghcr.io/drengskapur/pptx2video:latest

      - name: Anchore Container Scan
        uses: anchore/scan-action@64a33b277ea7a1215a3c142735a1091341939ff5 # v4.1.2
        with:
          image: ghcr.io/drengskapur/pptx2video:latest

      - name: Upload Artifact - Security Reports
        uses: actions/upload-artifact@v4
        with:
          name: security-reports
          path: reports/
